* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Language statistics (linguist)
resources/js/**     linguist-detectable=true
resources/css/**    linguist-detectable=true
*.tsx               linguist-detectable=true
*.ts                linguist-detectable=true
composer.lock       linguist-generated=true
package-lock.json   linguist-generated=true
